@import "../../../styles/mixins.module.scss";

.mainSection {
  display: grid;
  width: 65%;
  margin-inline: auto;
  position: relative;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.5rem;

  input {
    border: none;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    outline: none;
    color: white;
    padding: 0.5rem 0;
  }

  & input:nth-of-type(1) {
    font-size: 1.2rem;
    font-weight: 500;
  }
  & input:nth-of-type(2) {
    letter-spacing: 0.02625em;
    font-size: 1rem;
  }

  .pin {
    position: absolute;
    inset: 5px -30px auto auto;

    &:hover {
      color: white;

      .span {
        display: block;
      }
    }
  }

  .span {
    position: absolute;
    inset: 2rem 0rem auto auto;
    width: 4rem;
    text-align: center;
    display: none;
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    margin-inline: auto;
    transform: rotate(315deg);
    position: absolute;
    right: 14px;
  }
}

.notes {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  margin: 1rem;
}

.allNotes {
  display: grid;
  gap: 1rem;
  p {
    color: gray;
  }
}

.title {
  text-align: center;
  font-family: monospace;
}
