@import "../../../styles/mixins.module.scss";

.mainSection {
  display: grid;
  margin-inline: auto;
  position: relative;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.5rem;

  @include for-phone-only {
    width: 80%;
  }

  @media (min-width: 599px) {
    width: 70%;
  }
  @include for-desktop-up {
    width: 50%;
  }

  input {
    margin-block: 0.5rem;
    border: none;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    outline: none;
    color: white;
    padding: 0.2rem 0;
  }

  & input:nth-of-type(1) {
    font-weight: 500;
    margin: unset;
    @include for-phone-only {
      font-size: 0.9rem;
    }

    @media (min-width: 599px) {
      font-size: 0.9rem;
    }
    @include for-desktop-up {
      font-size: 1rem;
    }
  }
  & input:nth-of-type(2) {
    letter-spacing: 0.02625em;
    @include for-phone-only {
      font-size: 0.7rem;
    }
    @media (min-width: 599px) {
      font-size: 0.8rem;
    }
    @include for-desktop-up {
      font-size: 1rem;
    }
  }
}

.notes {
  display: grid;
  gap: 1rem;
  margin: 1rem;

  @include for-tablet-landscape-up {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
  @include for-desktop-up {
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }

  @include for-phone-only {
    grid-auto-flow: rows;
  }
}

.allNotes {
  display: grid;
  gap: 1rem;
  margin: 0 1rem;
  p {
    color: gray;
  }
}
.pin {
  position: absolute;
  inset: 5px -30px auto auto;

  &:hover {
    color: white;

    .span {
      display: block;
    }
  }
}

.span {
  position: absolute;
  inset: 2rem 0rem auto auto;
  width: 4rem;
  text-align: center;
  display: none;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  margin-inline: auto;
  transform: rotate(315deg);
  position: absolute;
  right: 14px;
}
