@import "../../../styles/mixins.module.scss";

.mainSection {
  display: grid;
  width: 65%;
  margin-inline: auto;
  position: relative;
  padding-top: 1rem;

  .pin {
    position: absolute;
    inset: 5px -30px auto auto;

    &:hover {
      color: white;

      .span {
        display: block;
      }
    }
  }

  .span {
    position: absolute;
    inset: 2rem 0rem auto auto;
    width: 4rem;
    text-align: center;
    display: none;
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    margin-inline: auto;
    transform: rotate(315deg);
    position: absolute;
    right: 14px;
  }
}

.notes {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  margin: 1rem;
}

.allNotes {
  display: grid;
  gap: 1rem;
  p {
    color: gray;
  }
}

.title {
  text-align: center;
  font-family: monospace;
}

.noteInput {
  letter-spacing: 0.02625em;
  font-size: 1rem;
  @include baseStyle();
  &::placeholder {
    color: #bcbdbe;
  }
}

.noteBorders {
  border-top: none;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}
