@import "../../../styles/mixins.module.scss";

.warning {
  position: absolute;
  inset: 4rem auto auto 50%;
  transform: translateX(-49%);
  font-style: italic;
  font-size: 1rem;
}

@include notesSectionStrcuture;

.error {
  @include errorStyle;
}

.title {
  text-align: center;
}

.noNotesDiv {
  display: grid;
  align-items: center;
  justify-items: center;
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  svg {
    width: 7rem;
    height: 7rem;
    color: gray;
  }
}

.noNotesTitle {
  color: gray;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.75rem;
}
