@import "../../../styles/mixins.module.scss";

.warning {
  position: absolute;
  inset: 4rem auto auto 50%;
  transform: translateX(-49%);
  font-style: italic;
  font-size: 1rem;
}

@include notesSectionStrcuture;

.error {
  @include errorStyle;
}

.title {
  text-align: center;
}
