@mixin roundBgColor {
  background-color: rgba(154, 160, 166, 0.157);
  border-radius: 50%;
}

@mixin svgStyle {
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  &:hover {
    cursor: pointer;
    @include roundBgColor();
  }
}

.backdrop {
  position: fixed;
  inset: 0 auto auto 0;
  width: 100%;
  height: 100vh;
  z-index: 20000;
  background-color: rgba(10, 10, 10, 0.6);
}

.modalContent {
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  min-height: 10rem;
  background-color: #313235;
  z-index: 100000;
  border: none;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 60%), 0 4px 8px 3px rgb(0 0 0 / 30%);

  svg {
    width: 1.2rem;
    height: 1.2rem;
    &:hover {
      cursor: pointer;
      @include roundBgColor();
    }
  }
}

.openModal {
  animation: openModal 0.4s ease-out forwards;
}

.closeModal {
  animation: closeModal 0.4s ease-out forwards;
}

@keyframes openModal {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -60%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes closeModal {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  50% {
    opacity: 0.8;
    transform: translate(-50%, -60%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
}
.modalEditing {
  padding: 1rem;
}

.modalTitle {
  margin: 0 0 1rem 0;
  color: #e8eaed;
  letter-spacing: 0.00625em;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.modalDiv {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-template-columns: 1fr 11fr;
  margin-block: 0.8rem;
  &:hover {
    .label {
      @include svgStyle();
      background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE4cHgiIHdpZHRoPSIxOHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCIgZmlsbD0iI2ZmZmZmZiI+CiA8cGF0aCBkPSJtMTIgMzhjMCAyLjIxIDEuNzkgNCA0IDRoMTZjMi4yMSAwIDQtMS43OSA0LTR2LTI0aC0yNHYyNHptMjYtMzBoLTdsLTItMmgtMTBsLTIgMmgtN3Y0aDI4di00eiIvPgogPHBhdGggZD0ibTAgMGg0OHY0OGgtNDh6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPgo=);
    }
  }
}

.label {
  @include svgStyle();
  background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE4cHgiIHdpZHRoPSIxOHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCIgZmlsbD0iI2ZmZmZmZiI+CiA8cGF0aCBkPSJtMCAwaDQ4djQ4aC00OHoiIGZpbGw9Im5vbmUiLz4KIDxwYXRoIGQ9Im0zNS4yNyAxMS42OWMtMC43My0xLjAyLTEuOTItMS42OS0zLjI3LTEuNjlsLTIyIDAuMDJjLTIuMjEgMC00IDEuNzctNCAzLjk4djIwYzAgMi4yMSAxLjc5IDMuOTggNCAzLjk4bDIyIDAuMDJjMS4zNSAwIDIuNTQtMC42NyAzLjI3LTEuNjlsOC43My0xMi4zMS04LjczLTEyLjMxeiIvPgo8L3N2Zz4K);
  &:hover {
    @include roundBgColor();
  }
}

.modalInput {
  all: unset;
  font-size: 14px;
  font-weight: 500;
  margin: 0 15px;
  width: 80%;
  &::placeholder {
    color: #bcbec1;
  }
}
.modalEditInput {
  all: unset;
  font-size: 14px;
  font-weight: 500;
  margin: 0 15px;
  &::placeholder {
    color: white;
  }

  // &:focus {
  //   background-color: blue;
  // }
}

.modalLabelButtonDiv {
  padding-block: 1.5rem;
  border-top: 1px solid gray;
  text-align: right;
}

.modalButton {
  all: unset;
  margin-right: 1rem;
  padding: 0.6rem 1rem;
  &:hover {
    cursor: pointer;
    background-color: rgba(154, 160, 166, 0.039);
  }
}

.tick {
  @include svgStyle();
  background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE4cHgiIHdpZHRoPSIxOHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0iI2ZmZmZmZiI+CiA8cGF0aCBkPSJtMCAwaDE4djE4aC0xOHoiIGZpbGw9Im5vbmUiLz4KIDxwYXRoIGQ9Im02LjYxIDExLjg5bC0zLjExLTMuMTEtMS4wNiAxLjA2IDQuMTcgNC4xNiA4Ljk1LTguOTUtMS4wNi0xLjA1eiIvPgo8L3N2Zz4K);
}

.pencil {
  @include svgStyle();
  background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE4cHgiIHdpZHRoPSIxOHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCIgZmlsbD0iI2ZmZmZmZiI+CiA8cGF0aCBkPSJtNiAzNC41djcuNWg3LjVsMjIuMTMtMjIuMTMtNy41LTcuNS0yMi4xMyAyMi4xM3ptMzUuNDEtMjAuNDFjMC43OC0wLjc4IDAuNzgtMi4wNSAwLTIuODNsLTQuNjctNC42N2MtMC43OC0wLjc4LTIuMDUtMC43OC0yLjgzIDBsLTMuNjYgMy42NiA3LjUgNy41IDMuNjYtMy42NnoiLz4KIDxwYXRoIGQ9Im0wIDBoNDh2NDhoLTQ4eiIgZmlsbD0ibm9uZSIvPgo8L3N2Zz4K);
}

.xmark {
  @include svgStyle();
  background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE4cHgiIHdpZHRoPSIxOHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0iI2ZmZmZmZiI+CiA8cGF0aCBkPSJtMCAwaDE4djE4aC0xOHpoMTh2MThoLTE4eiIgZmlsbD0ibm9uZSIvPgogPHBhdGggZD0ibTE0LjUzIDQuNTNsLTEuMDYtMS4wNi00LjQ3IDQuNDctNC40Ny00LjQ3LTEuMDYgMS4wNiA0LjQ3IDQuNDctNC40NyA0LjQ3IDEuMDYgMS4wNiA0LjQ3LTQuNDcgNC40NyA0LjQ3IDEuMDYtMS4wNi00LjQ3LTQuNDd6Ii8+Cjwvc3ZnPgo=);
}

.plus {
  @include svgStyle();
  background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE4cHgiIHdpZHRoPSIxOHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCIgZmlsbD0iI2ZmZmZmZiI+CiA8cGF0aCBkPSJtMzggMjZoLTEydjEyaC00di0xMmgtMTJ2LTRoMTJ2LTEyaDR2MTJoMTJ2NHoiLz4KIDxwYXRoIGQ9Im0wIDBoNDh2NDhoLTQ4eiIgZmlsbD0ibm9uZSIvPgo8L3N2Zz4K);
}
