.mainContent {
  position: absolute;
  top: 0rem;
  right: 1rem;
  img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    cursor: pointer;
    &:hover {
      width: 3rem;
      height: 3rem;
    }
  }
}

.accountSettings {
}
