@mixin errorStyle {
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
}

@mixin baseStyle {
  padding: 0.6rem 1rem;
  border-radius: 5px;
  width: 100%;
  background-color: transparent;
  color: gray;
  border: 1px solid gray;
  margin-inline: auto;
  outline: none;
  color: white;
}

.title {
  text-align: center;
  font-family: monospace;
}

.mainSection {
  display: grid;
  width: 50%;
  margin-inline: auto;
  position: relative;

  .pin {
    position: absolute;
    inset: 5px -30px auto auto;

    &:hover {
      .icon {
        color: gray;
      }

      .span {
        display: block;
      }
    }
  }

  .span {
    position: absolute;
    inset: 2rem 0rem auto auto;
    width: 4rem;
    text-align: center;
    display: none;
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    margin-inline: auto;
    transform: rotate(315deg);
    position: absolute;
    right: 14px;
  }
}

.noteTitle {
  @include baseStyle();
  border-bottom: none;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  font-size: 1.2rem;
  font-weight: 500;
}

.noteInput {
  @include baseStyle();
}

.noteBorders {
  border-top: none;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}

.notes {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  margin: 1rem;
}

.allNotes {
  display: grid;
  gap: 1rem;
  p {
    color: gray;
  }
}

.error {
  @include errorStyle;
}
