@mixin errorStyle {
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
}

@mixin baseStyle {
  padding: 0.6rem 1rem;
  border-radius: 5px;
  width: 100%;
  background-color: transparent;
  color: gray;
  border: 1px solid gray;
  margin-inline: auto;
  outline: none;
  color: white;
}

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-down {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
