@mixin errorStyle {
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
}

@mixin baseStyle {
  padding: 0.6rem 1rem;
  border-radius: 5px;
  width: 100%;
  background-color: transparent;
  color: gray;
  border: 1px solid gray;
  margin-inline: auto;
  outline: none;
  color: white;
}

@mixin notesSectionStrcuture {
  .content {
    display: grid;
    gap: 1rem;
  }

  .notes {
    display: grid;
    gap: 1rem;
    margin: 1rem;

    @include for-tablet-landscape-up {
      grid-template-columns: repeat(2, minmax(200px, 1fr));
    }

    @include for-phone-only {
      grid-auto-flow: rows;
    }
    @include for-desktop-up {
      grid-template-columns: repeat(4, minmax(100px, 1fr));
    }
  }
}

/*
  MEDIA QUERIES
*/

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-down {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin openModal {
  @keyframes openModal {
    0% {
      opacity: 0;
      transform: translate(-50%, -100%);
    }
    50% {
      opacity: 1;
      transform: translate(-50%, -60%);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
}

@mixin closeModal {
  @keyframes closeModal {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
    50% {
      opacity: 0.8;
      transform: translate(-50%, -60%);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -100%);
    }
  }
}
