@mixin baseStyle {
  padding: 0.6rem 1rem;
  border-radius: 5px;
  width: 100%;
  background-color: transparent;
  color: gray;
  border: 1px solid gray;
  margin-inline: auto;
  outline: none;
  color: white;
}
