@import "./App.module.scss";

.warning {
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-49%);
  font-style: italic;
  font-size: 1rem;
}

.notes {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  margin: 1rem;
  padding-top: 4rem;
}

.error {
  @include errorStyle;
}
