.optionsContent {
  visibility: hidden;
  position: absolute;
  width: 100%;
  transform: translate(-16px, -3px);
  font-size: 1rem;
  bottom: 5px;
}

.visible {
  visibility: visible;
}

.note {
  position: relative;
  padding: 0.6rem 2rem 0.6rem 0.6rem;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  color: gray;
  border: 1px solid gray;
  margin-inline: auto;
  outline: none;
  color: white;
  min-height: 15rem;
  transition: all ease-in-out 500ms;
  overflow-wrap: anywhere;
  h3 {
    margin-block: 0;
    outline: none;
  }

  p {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    outline: none;
    color: white !important;
  }

  &:hover {
    background-color: red;
    .optionsContent {
      visibility: visible;
    }
    .style {
      opacity: 100%;
      visibility: visible;
    }
  }
}

.review {
  position: absolute;
  width: 50dvw;
  min-height: 50dvh;
  z-index: 10065;
  background-color: #242424;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
}

.pin {
  position: absolute;
  inset: 7px -5px auto auto;

  &:hover {
    .icon {
      color: gray;
    }

    .span {
      opacity: 100%;
      // display: block;
    }
  }
}

.span {
  position: absolute;
  top: 2rem;
  right: -2rem;
  left: -5rem;
  text-align: center;
  // display: none;
  opacity: 0%;
  transition: opacity ease-in-out 500ms;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  margin-inline: auto;
  transform: rotate(315deg);
  position: absolute;
  right: 14px;
}

.pinned {
  color: gray;
  transform: none;
}

.backdrop {
  position: fixed;
  inset: 0 auto auto 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgb(200 194 194 / 37%);
}

.style {
  transition: opacity ease-in-out 500ms;
  opacity: 0%;
  visibility: hidden;
  position: absolute;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  width: 100%;
  bottom: -5px;

  .option {
    position: relative;
    h3 {
      position: absolute;
      visibility: hidden;
      bottom: -1.7rem;
      right: -4rem;
      font-size: 0.7rem;
      background-color: gray;
      padding: 0.2rem;
      border-radius: 3px;
      min-width: 7rem;
      text-align: center;
    }
    &:hover {
      h3 {
        visibility: visible;
      }
    }
  }

  & div:nth-of-type(4) {
    position: relative;
    transform: rotate(90deg);
    h3 {
      opacity: 0;
      transition: opacity ease-in-out 500ms;
      font-size: 0.7rem;
      background-color: gray;
      padding: 0.2rem;
      border-radius: 3px;
      transform: rotate(270deg);
      left: -2rem;
      bottom: 0rem;
    }
    &:hover {
      h3 {
        opacity: 100;
      }
    }
  }
}

.options {
  position: absolute;
  font-size: 0.7rem;
  right: -4rem;
  bottom: 1.2rem;
  background-color: #242424;
  border-radius: 5px;
  box-shadow: -1px -1px 14px -6px black;
  display: grid;
  gap: 1rem;

  h3 {
    padding: 0.5rem;
    &:hover {
      background-color: gray;
    }
  }
}

.hide {
  display: none;
}

/*
Options styling
*/

// /**
// Deleted Note styling
// */
// .actions {
//   position: absolute;
//   bottom: 4px;
//   right: 0;
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   font-size: 0.8rem;
//   width: 100%;
//   button {
//     font-size: 0.7rem;
//     border-radius: 5px;
//     color: white;
//     padding: 0.3rem;
//     border: none;
//     background-color: transparent;
//     font-style: italic;

//     &:hover {
//       background-color: #28292c;
//     }
//   }
// }
