@import "../../../../styles/mixins.module.scss";

@mixin FormBtnStyle {
  font-size: 1rem;
  height: 2.5rem;
  width: 80%;
  margin-block: 0.7rem;
  margin-inline: auto;
  border-radius: 8px;
  background: #f26716;
  border: none;
  cursor: pointer;
  font-family: "CormorantGaramond";
  transition: all 250ms ease-in-out;
  &:hover {
    height: 3rem;
    width: 90%;
  }
}

@media (max-width: 599px) {
  .form {
    width: 60dvw;
  }
}
@media (max-width: 450px) {
  .form {
    width: 70dvw;
    button {
      height: 2.2rem;
      font-size: 0.75rem;
      &:hover {
        height: 2.4rem;
      }
    }
  }
}
@media (min-width: 600px) {
  .form {
    width: 40dvw;
    button {
      height: 2.3rem;
      font-size: 0.8rem;
      &:hover {
        height: 2.5rem;
      }
    }
  }
}
@media (min-width: 1200px) {
  .form {
    width: 35dvw;
    button {
      height: 2.3rem;
      font-size: 0.8rem;
      &:hover {
        height: 2.6rem;
      }
    }
  }
}
@media (min-width: 1441px) {
  .form {
    width: 25dvw;
  }
}

.form {
  // width: 40dvw;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #00000075;
  fieldset {
    all: unset;
    position: relative;
    legend {
      margin-bottom: 0.4rem;
      width: 100%;
    }
    .inputwrapper {
      display: grid;
      grid-template-columns: 11fr 1fr;
      background: rgba(0, 0, 0, 0.4588235294);
      border-radius: 8px;
      span {
        display: grid;
        place-self: center;
        place-content: center;
        float: right;
        background: none;
        border: none;
        cursor: pointer;
      }
    }
  }

  input {
    color: white !important;

    font-family: "CormorantGaramond";
    outline: none;
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 2rem;
    background: none;
    padding: 0 1rem;
    box-sizing: border-box;
  }

  .formEmailInput {
    background: rgba(0, 0, 0, 0.4588235294);
  }
}

.formSignUpButton {
  @include FormBtnStyle;
}
.formLoginButton {
  @include FormBtnStyle;
}

.hide {
  text-indent: -999em;
}

.show {
  display: block;
}

.correct {
  color: lime;
}
.xmark {
  color: red;
}

.crossLine {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 9fr 3fr 9fr;
  place-items: center;
  div {
    border: 1px solid rgba(0, 0, 0, 0.4588235294);
    width: 100%;
  }
}

.invalidCredentials {
  position: absolute;
  inset: 3rem auto auto 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4588235294);
  color: #fb6a6a;
  transition: all 500ms ease-in-out;
}

.hideInvalidCredentials {
  transform: translate(-50%, -10rem);
}
