@import "../../../../styles/mixins.module.scss";

@mixin FormBtnStyle {
  font-size: 1rem;
  height: 2.5rem;
  width: 80%;
  margin-block: 0.7rem;
  margin-inline: auto;
  border-radius: 8px;
  background: #f26716;
  border: none;
  cursor: pointer;
  font-family: "CormorantGaramond";
  transition: all 250ms ease-in-out;
}

@media (max-width: 599px) {
  .form {
    width: 60dvw;
  }
}
@media (max-width: 450px) {
  .form {
    width: 70dvw;
    button {
      height: 2.2rem;
      font-size: 0.75rem;
    }
  }
}
@media (min-width: 600px) {
  .form {
    width: 40dvw;
    button {
      height: 2.3rem;
      font-size: 0.8rem;
    }
  }
}
@media (min-width: 1200px) {
  .form {
    width: 35dvw;
    button {
      height: 2.3rem;
      font-size: 0.8rem;
    }
  }
}
@media (min-width: 1441px) {
  .form {
    width: 25dvw;
  }
}

.form {
  // width: 40dvw;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #00000075;
  fieldset {
    all: unset;
    position: relative;
    legend {
      margin-bottom: 0.4rem;
      width: 100%;
    }
  }

  input {
    color: white !important;

    font-family: "CormorantGaramond";
    outline: none;
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 2rem;
    background: none;
    padding: 0 1rem;
    box-sizing: border-box;
  }
}

.formSignUpButton {
  @include FormBtnStyle;
}

.hide {
  text-indent: -999em;
}

.show {
  display: block;
}

.correct {
  color: lime;
}
.xmark {
  color: red;
}
