@import "../../../styles/mixins.module.scss";

@media (max-width: 599px) {
  .title {
    font-size: 1rem;
  }

  .content {
    grid-template-columns: 3fr 9fr;
  }

  .col1 {
    h3 {
      padding: 0.4rem 0.6rem;

      font-size: 0.75rem;
    }
  }
}
@media (max-width: 450px) {
  .title {
    font-size: 1rem;
  }

  .content {
    grid-template-columns: 2.8fr 9.2fr;
  }
}
@media (min-width: 599px) {
  .title {
    font-size: 1.2rem;
  }

  .content {
    grid-template-columns: 2.8fr 9.2fr;
  }
}
@media (min-width: 1024px) {
  .title {
    font-size: 1.3rem;
  }

  .content {
    grid-template-columns: 2.8fr 9.2fr;
  }
}
@media (min-width: 1200px) {
  .title {
    font-size: 1.4rem;
  }

  .content {
    grid-template-columns: 3fr 9fr;
  }
}

@media (min-width: 2400px) {
  .title {
    font-size: 2.5rem;
  }

  .content {
    grid-template-columns: 3fr 9fr;
  }
}

.content {
  height: 80%;
  display: grid;
  place-items: center;
  margin: 2rem 0;
}

.title {
  text-align: center;
  font-family: "CormorantGaramond";
}

.col1 {
  display: grid;
  align-self: start;
  width: 100%;
}

.col2 {
  align-self: start;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
