.mainContent {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  font-family: "CormorantGaramond";
  width: 50%;
  margin-inline: auto;
  fieldset {
    all: unset;
    width: 100%;
  }

  input {
    font-size: 1.2rem;
    border-radius: 8px;
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0.4588235294);
    padding: 0.5rem;
    margin: 1rem 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }
}
