.mainContent {
  display: grid;
  font-family: "CormorantGaramond";
  margin-left: 3rem;
  fieldset {
    all: unset;
  }

  input {
    font-size: 1.2rem;
    border-radius: 8px;
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0.4588235294);
    padding: 0.5rem;
    margin: 1rem 0;
    width: 50%;
    text-align: center;
  }
}
