.backdrop {
  position: fixed;
  inset: 0 auto auto 0;
  width: 100%;
  height: 100vh;
  z-index: 200000;
  background-color: rgba(10, 10, 10, 0.6);
}

.backdropOpen {
  display: block;
}

.backdropClosed {
  display: none;
}

/*
  MEDIA QUERIES
*/
@media (max-width: 599px) {
  .xMark {
    width: 2rem;
    height: 2rem;
  }
  .modalContent {
    width: 90dvw;
    padding: 1rem 0 1rem 0;
  }
  .backgroundImages {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .backgroundImages img {
    width: 5rem;
    height: 5rem;
  }
  .default {
    width: 5rem;
    height: 5rem;
  }
  .svg {
    width: 2rem;
    height: 2rem;
  }
}
@media (max-width: 450px) {
  .xMark {
    width: 2rem;
    height: 2rem;
  }
  .modalContent {
    width: 90dvw;
    padding: 1rem 0 1rem 0;
  }
  .modalContent .title {
    font-size: 1rem;
  }
  .backgroundImages {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .backgroundImages img {
    width: 4.5rem;
    height: 4.5rem;
  }
  .default {
    width: 4.5rem;
    height: 4.5rem;
  }
  .default h3 {
    font-size: 0.75rem;
  }
  .svg {
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media (min-width: 599px) {
  .xMark {
    width: 2.5rem;
    height: 2.5rem;
  }
  .modalContent {
    width: 50dvw;
    padding: 1rem 0 1rem 0;
  }
  .modalContent .title {
    font-size: 1.5rem;
  }
  .backgroundImages {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .backgroundImages img {
    width: 6rem;
    height: 6rem;
  }
  .default {
    width: 6rem;
    height: 6rem;
  }
  .svg {
    width: 3rem;
    height: 3rem;
  }
}
@media (min-width: 1200px) {
  .xMark {
    width: 2.5rem;
    height: 2.5rem;
  }
  .modalContent {
    width: 50dvw;
    padding: 1rem 0 1rem 0;
  }
  .backgroundImages {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .backgroundImages img {
    width: 10rem;
    height: 10rem;
  }
  .default {
    width: 10rem;
    height: 10rem;
  }
  .svg {
    width: 4rem;
    height: 4rem;
  }
}
@media (min-width: 2400px) {
  .xMark {
    width: 4rem;
    height: 4rem;
  }
  .modalContent {
    width: 50dvw;
    padding: 1rem 0 1rem 0;
  }
  .modalContent .title {
    font-size: 2.5rem;
  }
  .backgroundImages {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .backgroundImages img {
    width: 14rem;
    height: 14rem;
  }
  .default {
    width: 14rem;
    height: 14rem;
  }
  .default h3 {
    font-size: 2rem;
  }
  .svg {
    width: 6rem;
    height: 6rem;
  }
}
.modalContent {
  position: fixed !important;
  padding: 1rem 2.5rem 1rem 2.5rem;
  border-radius: 8px;
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  background-color: #313235;
  z-index: 10000000;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.6), 0 4px 8px 3px rgba(0, 0, 0, 0.3);
  max-height: 80dvh;
  overflow: auto;
}

.openModal {
  animation: openModal 0.4s ease-out forwards;
}

.closeModal {
  animation: closeModal 0.4s ease-out forwards;
}

.backgroundImages {
  position: relative;
  display: grid;
  place-items: center;
  place-content: center;
  grid-gap: 1rem;
}
.backgroundImages img {
  border-radius: 8px;
  cursor: pointer;
  pointer-events: all;
}

.default {
  display: grid;
  place-content: center;
  border-radius: 8px;
  cursor: pointer;
  background: #202124;
}
.default h3 {
  font-weight: 300;
}

.title {
  letter-spacing: 0.01428571em;
  font-family: "CormorantGaramond";
  font-weight: 400;
  line-height: 1.25rem;
  color: #e8eaed;
  word-wrap: break-word;
  text-align: center;
}

@keyframes openModal {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -60%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@keyframes closeModal {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  50% {
    opacity: 0.8;
    transform: translate(-50%, -60%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
}/*# sourceMappingURL=styles.module.css.map */