@import "../../../../styles/mixins.module.scss";

@media (max-width: 599px) {
  .mainContent {
    p {
      font-size: 0.75rem;
    }
    input {
      width: 80%;
      padding: 0.5rem 0rem;
      text-align: center;
    }
    button {
      font-size: 0.75rem;
      padding: 0.5rem 1rem;
    }
  }
}
@media (max-width: 450px) {
  .mainContent {
    p {
      font-size: 0.75rem;
    }
    input {
      padding: 0.5rem 0.2rem;
      text-align: center;
    }
    button {
      font-size: 0.75rem;
      padding: 0.5rem 1rem;
    }
  }
}
@media (min-width: 599px) {
  .mainContent {
    p {
      font-size: 1rem;
    }
    input {
      width: 50%;
      padding: 0.5rem 0rem;
      text-align: center;
    }
    button {
      font-size: 0.75rem;
      padding: 0.6rem 1.1rem;
    }
  }
}
@media (min-width: 1024px) {
  .mainContent {
    p {
      font-size: 1rem;
    }
    input {
      width: 50%;
      padding: 0.5rem 0rem;
      text-align: center;
    }
    button {
      font-size: 0.75rem;
      padding: 0.6rem 1.1rem;
    }
  }
}
@media (min-width: 1200px) {
  .mainContent {
    p {
      font-size: 1rem;
    }
    input {
      width: 50%;
      padding: 0.7rem 0.2rem;

      text-align: center;
    }
    button {
      font-size: 1rem;
      padding: 0.8rem 1.1rem;
    }
  }
}
@media (min-width: 1441px) {
  .mainContent {
    p {
      font-size: 1rem;
    }
    input {
      width: 50%;
      padding: 0.5rem 0.5rem;
      text-align: center;
    }
    button {
      font-size: 0.8rem;
      padding: 0.7rem 1.7rem;
    }
  }
}

.mainContent {
  display: grid;
  height: 100%;
  grid-template-rows: 5fr 2fr 1fr 3fr;
  place-items: center;
  text-align: center;
  input {
    // padding: 0.7rem 1rem;
    border: none;
    border-radius: 8px;
    outline: none;
  }
  button {
    // all: unset;
    background: #f44f4f;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
    }
  }
}
