@import "../../styles/mixins.module.scss";

@mixin btnStyle {
  all: unset;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: 0.01785714em;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.25rem;

  justify-self: flex-end;
  color: #dadce0;
  &:hover {
    cursor: pointer;
  }
  @include for-phone-only {
    font-size: 0.6rem;
    padding: 4px;
  }
  @media (min-width: 599px) {
    font-size: 0.7rem;
    padding: 4px;
  }
  @include for-desktop-up {
    padding: 8px 24px;
    font-size: 0.875rem;
  }
}

.closeFormButton {
  @include btnStyle();
  &:hover {
    cursor: pointer;
  }
}

.closeFormButtonDisabled {
  @include btnStyle();
  color: gray;
  &:hover {
    cursor: not-allowed;
  }
}

.actions {
  & button:nth-of-type(1) {
    padding-left: 0;
  }
  & button:nth-of-type(3) {
    float: right;
  }
}
